.jobheadline {
  font-size: 3rem;
  margin-left: 8rem;

  @include respond(phone) {
    margin-left: 1rem;
  }
}

.jobcard {
  text-align: center;
  width: 60%;
  height: 18rem;
  margin-left: 40rem;
  border-radius: 1rem;
  border: 1px solid $color-greyborder;
  color: $color-navigation;
  padding: 2rem 7rem;
  padding-left: 2rem;
  margin-bottom: 6rem;
  position: relative;

  @include respond(phone) {
    margin-left: 1.4rem;
    width: 95%;
    margin-bottom: 5rem;
  }

  &__shape {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    float: left;
    position: relative;

    @include respond(phone) {
      display: none;
    }
  }

  &__image {
    background-size: cover;
    width: 120%;
    transform: translateX(-30%);
    height: 100%;
    background: url("../../../public/shraminlogo.png");
    backface-visibility: hidden;
  }

  &__information {
    display: flex;
    flex-direction: column;
    float: left;
    padding-left: 4rem;
    width: 40rem;
    position: relative;
    @include respond(phone) {
      margin-left: 2rem;
      margin-top: -1rem;
    }
  }

  &__profile {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: flex;
    flex-basis: 50%;
  }

  &__company {
    font-size: 1.4rem;
    position: absolute;
    top: 2.5rem;
    left: 4rem;
  }
  &__location {
    font-size: 1.4rem;
    position: absolute;
    top: 5rem;
    left: 4rem;
    // left: 0rem;
    // top: 5rem;
    // position: absolute;
  }

  &__salary {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 7.5rem;
    left: 4rem;
  }

  &__date {
    font-size: 1.4rem;
    position: absolute;
    top: 10.5rem;
    left: 3.7rem;
  }

  &__application {
    float: right;
    position: absolute;
    cursor: pointer;
    right: 4rem;
    bottom: 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid $color-linkhover;
    color: $color-navigation;
    padding: 0.4rem 1rem;

    &:link,
    &:visited {
      text-decoration: none;
      color: $color-navigation;
    }

    &:hover {
      color: $color-white;
      background-color: $color-linkhover;
    }

    @include respond(phone) {
      right: 1rem;
    }
  }
}
