@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.profile {
  width: 70%;
  height: 20rem;
  padding: 2rem;
  margin-left: 30rem;
  border-radius: 1rem;
  border: 1px solid gray;
  outline: 0;
  position: relative;
  font-family: "Ubuntu", sans-serif;

  @include respond(phone) {
    margin-left: 2rem;
    width: 85%;
    height: 26rem;
  }

  &__leftside {
    float: left;
    display: flex;
    flex-direction: column;
  }

  &__heading {
    font-size: 2rem;
    font-weight: 700;
  }

  &__info {
    font-size: 1.7rem;
    font-weight: 500;

    width: 50rem;

    @include respond(phone) {
      width: 23rem;
    }
  }

  &__editbutton {
    color: $color-white;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.7rem;
    background-color: $color-link;

    &:link,
    &:visited {
      color: $color-white;
      text-decoration: none;
    }

    &:hover {
      font-weight: bolder;
    }
  }

  &__rightside {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 5.2rem;
    margin-right: 12rem;

    @include respond(phone) {
      margin-top: 10rem;
      margin-right: 0rem;
    }
  }

  &__percent {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700;
  }

  &__progress {
    width: 30rem;
    height: 2.5rem;
    border-radius: 5px;
    outline: 0;
    border: none;
    position: relative;
    border: 1px solid gray;
    // border-left: 0px;
    // overflow: hidden;
    margin-bottom: 1rem;

    @include respond(phone) {
      width: 13rem;
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -0.2rem;
      left: -0.2rem;
      width: 30%;
      height: 2.6rem;
      border-radius: 5px;
      outline: 0;
      background-color: $color-linkhover;

      @include respond(phone) {
        top: -0.15rem;
        height: 2.4rem;
        left: -0.13rem;
        border-bottom-left-radius: 0.6rem;
      }
    }
  }

  &__statusheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: $color-navigation;
    margin-bottom: 0.5rem;
  }

  &__status {
    font-size: 1.3rem;
    font-weight: 700;
    color: $color-navigation;
  }
}
