@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");

.signup {
  @include box;
  height: 49rem;
  padding-top: 3rem;
  font-family: "Ubuntu", sans-serif;

  @include respond(tab-land) {
    height: 51rem;
  }

  @include respond(tab-port) {
    top: 45% !important;
    height: 60rem;
  }

  &__heading {
    font-size: 2.5rem;
    margin-bottom: 3rem;
  }

  &__textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  &__label {
    font-size: 1.5rem;
  }

  &__user {
    &__text {
      font-size: 2rem;
    }

    &__link {
      @include boxlink;

      &:link,
      &:visited {
        @include boxlink;
        text-decoration: none;
      }

      &:hover {
        font-weight: 600;
        font-size: 2rem;
      }
    }
  }
}
