@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2.5rem !important; }

.u-margin-top-large {
  margin-top: 15rem !important; }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.candidateapplication {
  margin-left: 28rem;
  font-size: 2.5rem;
  font-weight: 700;
  margin-top: 15rem;
  margin-bottom: 4rem;
  word-spacing: 0.5rem;
  font-family: "Ubuntu", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .candidateapplication {
      margin-left: 3rem; } }

.candidatebox {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5rem;
  margin-left: 28rem;
  overflow-y: auto;
  overflow-x: hidden;
  margin-bottom: 10rem; }
  @media only screen and (max-width: 37.5em) {
    .candidatebox {
      display: flex;
      margin-left: 3rem; } }

.cancard {
  width: 40rem;
  height: 35rem;
  flex-basis: 49%;
  padding: 3rem;
  margin-right: 1rem;
  margin-bottom: 1rem;
  background-color: #eceeed;
  background-color: rgba(176, 190, 197, 0.1);
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .cancard {
      display: block;
      flex-basis: 90%;
      width: 60rem;
      margin-bottom: 2rem; } }
  .cancard__info {
    margin-left: 1rem;
    list-style: none; }
  .cancard__name {
    font-size: 2.5rem;
    font-weight: 500;
    margin-bottom: 1.5rem; }
  .cancard__infohead {
    font-size: 1.7rem;
    font-weight: 600;
    margin-bottom: 1rem; }
    .cancard__infohead--text {
      font-weight: normal; }
  .cancard__buttons {
    margin-left: 1rem;
    margin-top: 4rem;
    display: flex;
    flex-direction: row; }
  .cancard__button {
    padding: 0.5rem 0.7rem;
    cursor: pointer;
    border-radius: 0.5rem;
    outline: 0;
    border: 1px solid gray; }
    .cancard__button:not(:last-child) {
      margin-right: 1rem; }
  .cancard__right {
    position: absolute;
    top: 3rem;
    right: 4rem;
    float: right;
    display: flex;
    flex-direction: column; }
  .cancard__profilepic {
    transform: translateX(15%); }
  .cancard__candetails {
    margin-bottom: 1rem; }
  .cancard__candbutton {
    font-size: 1.6rem;
    cursor: pointer;
    color: #fff;
    padding: 0.8rem 0.7rem;
    border-radius: 0.5rem;
    outline: 0;
    border: none; }
    .cancard__candbutton--videoresume {
      background-color: #1669f2; }
    .cancard__candbutton--resume {
      background-color: #ec407a; }
    .cancard__candbutton--contact {
      background-color: #7b1fa2; }
  .cancard__shortlist {
    background-color: #1669f2;
    color: #fff; }
  .cancard__hired {
    background-color: green;
    color: #fff; }
  .cancard__contacted {
    background-color: #7b1fa2;
    color: #fff; }
  .cancard__rejected {
    background-color: #f44336;
    color: #fff; }
  .cancard__updatestatus {
    padding: 0.5rem 0.7rem;
    font-size: 1.6rem;
    color: white;
    background-color: #616161;
    outline: none;
    border-radius: 0.5rem;
    cursor: pointer; }
    .cancard__updatestatus * {
      background-color: #fff;
      color: black;
      cursor: pointer; }

.jobheadline {
  font-size: 3rem;
  margin-left: 8rem; }
  @media only screen and (max-width: 37.5em) {
    .jobheadline {
      margin-left: 1rem; } }

.jobcard {
  text-align: center;
  width: 60%;
  height: 18rem;
  margin-left: 40rem;
  border-radius: 1rem;
  background-color: rgba(176, 190, 197, 0.1);
  border: 1px solid #b0bec5;
  color: #001730;
  padding: 2rem 7rem;
  padding-left: 2rem;
  margin-bottom: 6rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .jobcard {
      margin-left: 1.4rem;
      width: 95%;
      margin-bottom: 5rem; } }
  .jobcard__shape {
    width: 10rem;
    height: 10rem;
    border-radius: 50%;
    overflow: hidden;
    border: 1px solid grey;
    float: left;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .jobcard__shape {
        display: none; } }
  .jobcard__image {
    background-size: cover;
    width: 120%;
    transform: translateX(-30%);
    height: 100%;
    background: url("../../../public/shraminlogo.png");
    backface-visibility: hidden; }
  .jobcard__information {
    display: flex;
    flex-direction: column;
    float: left;
    padding-left: 4rem;
    width: 40rem;
    position: relative; }
    @media only screen and (max-width: 37.5em) {
      .jobcard__information {
        margin-left: -3rem;
        margin-top: 0.4rem; } }
  .jobcard__profile {
    font-size: 1.7rem;
    letter-spacing: 0.2rem;
    font-weight: 700;
    margin-bottom: 0.5rem;
    display: flex;
    flex-basis: 50%; }
  .jobcard__company {
    font-size: 1.4rem;
    position: absolute;
    top: 2.5rem;
    left: 4rem; }
  .jobcard__location {
    font-size: 1.4rem;
    position: absolute;
    top: 5rem;
    left: 4rem; }
  .jobcard__salary {
    font-size: 1.4rem;
    font-weight: 700;
    margin-bottom: 0.8rem;
    position: absolute;
    top: 7.5rem;
    left: 4rem; }
  .jobcard__date {
    font-size: 1.4rem;
    position: absolute;
    top: 10.5rem;
    left: 3.7rem; }
  .jobcard__application {
    float: right;
    position: absolute;
    cursor: pointer;
    right: 4rem;
    bottom: 2rem;
    border-radius: 5px;
    font-size: 1.6rem;
    border: 1px solid #4ad7d1;
    color: #001730;
    padding: 0.4rem 1rem; }
    .jobcard__application:link, .jobcard__application:visited {
      text-decoration: none;
      color: #001730; }
    .jobcard__application:hover {
      color: #fff;
      background-color: #4ad7d1; }
    @media only screen and (max-width: 37.5em) {
      .jobcard__application {
        right: 1rem; } }

.profile {
  width: 70%;
  height: 20rem;
  padding: 2rem;
  margin-left: 30rem;
  border-radius: 1rem;
  border: 1px solid #b0bec5;
  outline: 0;
  position: relative;
  font-family: "Ubuntu", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .profile {
      margin-left: 2rem;
      width: 90%;
      height: 26rem;
      padding-right: 1rem; } }
  .profile__leftside {
    float: left;
    display: flex;
    flex-direction: column; }
  .profile__heading {
    font-size: 2rem;
    font-weight: 700; }
  .profile__info {
    font-size: 1.7rem;
    font-weight: 500;
    width: 50rem; }
    @media only screen and (max-width: 37.5em) {
      .profile__info {
        width: 23rem; } }
  .profile__editbutton {
    color: #fff;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    border-radius: 0.7rem;
    background-color: #0a66c2; }
    .profile__editbutton:link, .profile__editbutton:visited {
      color: #fff;
      text-decoration: none; }
    .profile__editbutton:hover {
      font-weight: bolder; }
  .profile__rightside {
    float: right;
    display: flex;
    flex-direction: column;
    margin-top: 5.2rem;
    margin-right: 12rem; }
    @media only screen and (max-width: 37.5em) {
      .profile__rightside {
        margin-top: 10rem;
        margin-right: 0rem; } }
  .profile__percent {
    margin-bottom: 1rem;
    font-size: 1.8rem;
    font-weight: 700; }
  .profile__progress {
    width: 30rem;
    height: 2.5rem;
    border-radius: 5px;
    outline: 0;
    border: none;
    position: relative;
    border: 1px solid gray;
    margin-bottom: 1rem; }
    @media only screen and (max-width: 37.5em) {
      .profile__progress {
        width: 13rem; } }
    .profile__progress::after {
      content: "";
      display: inline-block;
      position: absolute;
      top: -0.2rem;
      left: -0.2rem;
      width: 30%;
      height: 2.6rem;
      border-radius: 5px;
      outline: 0;
      background-color: #4ad7d1; }
      @media only screen and (max-width: 37.5em) {
        .profile__progress::after {
          top: -0.15rem;
          height: 2.4rem;
          left: -0.13rem;
          border-bottom-left-radius: 0.6rem; } }
  .profile__statusheading {
    font-size: 1.5rem;
    font-weight: 600;
    color: #001730;
    margin-bottom: 0.5rem; }
  .profile__status {
    font-size: 1.3rem;
    font-weight: 700;
    color: #001730; }

.search {
  margin-top: 15rem;
  margin-left: 30rem;
  position: relative; }
  @media only screen and (max-width: 37.5em) {
    .search {
      margin-left: 2rem; } }
  .search__iconbox {
    position: absolute;
    top: 1.5rem;
    left: 2rem; }
  .search__icon {
    color: #001730;
    font-size: 2rem; }
  .search__textbox {
    width: 50rem;
    font-family: "Ubuntu", sans-serif;
    padding: 1.5rem 7rem;
    border-radius: 1rem;
    font-size: 2rem;
    outline: 0;
    border: 2px solid #001730; }
    @media only screen and (max-width: 37.5em) {
      .search__textbox {
        width: 40rem; } }
    .search__textbox:focus {
      border: 2px solid #4ad7d1; }
    .search__textbox::placeholder {
      position: absolute;
      top: 1.7rem;
      font-size: 1.5rem;
      font-weight: 600;
      color: gray; }

.statusbox {
  margin-top: 1rem;
  margin-left: 28rem; }
  @media only screen and (max-width: 37.5em) {
    .statusbox {
      margin-left: 3rem;
      margin-top: 2rem; } }

.statusbar {
  width: 95%;
  height: 7rem;
  padding: 1.6rem;
  border: 1px solid #b0bec5;
  border-radius: 1rem; }
  @media only screen and (max-width: 37.5em) {
    .statusbar {
      width: 90%;
      height: 12rem; } }
  .statusbar__options {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row; }
    @media only screen and (max-width: 37.5em) {
      .statusbar__options {
        flex-basis: 50%; } }
  .statusbar__status {
    margin-right: 3.5rem;
    font-size: 2rem;
    color: black; }
    @media only screen and (max-width: 37.5em) {
      .statusbar__status {
        font-size: 1.9rem;
        margin-bottom: 2rem; } }
  .statusbar__number {
    margin-left: 1rem;
    padding: 0.6rem 1.6rem;
    color: #fff;
    outline: none;
    border-radius: 0.6rem;
    font-size: 1.6rem; }
    @media only screen and (max-width: 37.5em) {
      .statusbar__number {
        padding: 0.4rem 1rem; } }
    .statusbar__number--shortlist {
      background-color: #1669f2; }
    .statusbar__number--hired {
      background-color: green; }
    .statusbar__number--contacted {
      background-color: #7b1fa2; }
    .statusbar__number--rejected {
      background-color: #f44336; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 *6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 *6rem) / 4) + 2 *6rem); }

.navbar {
  width: 100%;
  background-color: #fff;
  height: 7.5rem;
  padding: 1rem 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  .navbar__links {
    float: right;
    margin-right: 5rem;
    display: flex;
    flex-direction: row; }
  .navbar__linktext {
    padding: 0.1rem 0.8rem;
    font-size: 1.6rem; }
    .navbar__linktext:link, .navbar__linktext:visited {
      color: #fff;
      text-decoration: none; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #001730;
  height: 11rem;
  padding: 4rem 8rem;
  z-index: 1000;
  font-family: "Ubuntu", sans-serif; }
  .navigation__logo {
    float: left;
    position: absolute;
    left: 4rem;
    top: 2.9rem; }
    .navigation__logo--text {
      font-size: 4rem;
      color: #fff;
      cursor: pointer; }
    .navigation__logo--green {
      color: #4ad7d1;
      font-weight: 700; }
    @media only screen and (max-width: 75em) {
      .navigation__logo {
        left: 4rem;
        top: 2.5rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__logo {
        left: 2rem;
        font-size: 3rem; } }
  .navigation__image {
    background: url("../../../public/shraminlogo.png");
    min-width: 25rem;
    height: 6rem;
    background-repeat: no-repeat;
    filter: saturate(3); }
    @media only screen and (max-width: 37.5em) {
      .navigation__image {
        width: 20rem;
        background-size: contain; } }
  .navigation__list {
    float: left;
    position: absolute;
    left: 45rem;
    display: flex;
    margin-top: 0.5rem;
    color: #fff;
    list-style-type: none; }
    @media only screen and (max-width: 75em) {
      .navigation__list {
        right: 30rem; } }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
  .navigation__listitem {
    font-size: 2rem;
    display: flex;
    font-weight: 400;
    margin-right: 6rem; }
    .navigation__listitem:link, .navigation__listitem:visited {
      color: #fff;
      text-decoration: none; }
    .navigation__listitem:hover {
      color: #4ad7d1;
      font-weight: 600; }
    .navigation__listitem--createjob {
      outline: none;
      border-radius: 10rem;
      padding: 1.5rem 1.8rem;
      border: 2px solid #4ad7d1;
      margin-top: -1.5rem; }
      .navigation__listitem--createjob:hover {
        color: #fff;
        background-color: #4ad7d1; }
  .navigation__link {
    float: right;
    margin-right: 2rem;
    margin-top: 0.5rem; }
    @media only screen and (max-width: 75em) {
      .navigation__link {
        margin-right: -1rem; } }
    @media only screen and (max-width: 56.25em) {
      .navigation__link {
        margin-right: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__link {
        margin-top: 0.3rem; } }
  .navigation__button {
    outline: none;
    border-radius: 10rem;
    padding: 1.5rem 1.8rem;
    border: 2px solid #4ad7d1;
    font-size: 2rem;
    color: #fff;
    cursor: pointer; }
    .navigation__button:link, .navigation__button:visited {
      text-decoration: none;
      color: #fff; }
    .navigation__button:active {
      color: #fff; }
    .navigation__button:hover {
      background: #4ad7d1;
      font-weight: 600; }
    .navigation__button--logout {
      border-radius: 0;
      padding: 0;
      border: none;
      font-size: 2rem;
      font-weight: 400; }
      .navigation__button--logout:hover {
        background-color: transparent;
        color: #4ad7d1; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .navigation__list1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    list-style: none;
    width: 100%; }
  .navigation__item {
    display: block;
    padding-top: 4rem; }
  .navigation__link1:link, .navigation__link1:visited {
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    display: inline-block;
    transition: all 0.2s;
    font-size: 3rem; }
  .navigation__link1:hover, .navigation__link1:active {
    font-weight: bolder;
    color: #4ad7d1; }
  .navigation__checkbox {
    display: none; }
  .navigation__button1 {
    text-align: center;
    background-color: transparent;
    z-index: 2000;
    cursor: pointer;
    position: fixed;
    top: 2.497rem;
    right: 2.4rem;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button1 {
        display: inline-block; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 1500;
    position: fixed;
    top: 3.5rem;
    right: 2rem;
    background: #001730;
    transition: all 1s cubic-bezier(0.83, 0, 0.17, 1); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    display: block; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
    background-color: #4ad7d1; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 0.2rem;
      display: inline-block;
      background-color: #4ad7d1; }
    .navigation__icon::before, .navigation__icon::after {
      position: absolute;
      left: 0;
      content: ""; }
    .navigation__icon::before {
      top: -0.8rem;
      transition: 0.2s; }
      @media only screen and (max-width: 37.5em) {
        .navigation__icon::before {
          height: 0.3rem; } }
    .navigation__icon::after {
      top: 0.8rem;
      transition: 0.2s; }
  .navigation__checkbox:checked + .navigation__button1 .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button1 .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button1 .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__label1 {
    margin-right: 5rem;
    display: none; }

#navi1-toggle {
  display: inline-block; }

.createjob {
  margin-top: 18rem;
  margin-bottom: 20rem;
  width: 80%;
  padding: 3rem 10rem;
  padding-bottom: 1rem;
  border: 1px solid #b0bec5;
  border-radius: 10px;
  margin: 18rem auto;
  font-family: "Roboto", sans-serif; }
  @media only screen and (max-width: 37.5em) {
    .createjob {
      border: none;
      margin-bottom: 0rem;
      margin-top: 12rem; } }
  .createjob__heading {
    margin-top: 0rem;
    font-size: 3rem;
    font-family: "Ubuntu", sans-serif;
    font-weight: 700; }
    @media only screen and (max-width: 37.5em) {
      .createjob__heading {
        white-space: nowrap; } }
  .createjob__details {
    display: flex;
    flex-direction: column;
    margin-left: 0rem; }
    @media only screen and (max-width: 37.5em) {
      .createjob__details {
        margin-left: -10rem; } }
  .createjob__field {
    display: flex;
    flex-direction: column; }
    .createjob__field:not(:last-child) {
      margin-bottom: 5rem; }
  .createjob__label {
    font-size: 2rem;
    margin-bottom: 2rem; }
  .createjob__company {
    font-size: 2.5rem;
    width: 40%; }
    @media only screen and (max-width: 37.5em) {
      .createjob__company {
        width: 100%;
        line-height: 1rem; } }
  .createjob__select {
    width: 35%;
    height: 40%;
    padding: 2rem;
    -moz-appearance: none;
    /* Firefox */
    -webkit-appearance: none;
    /* Safari and Chrome */
    appearance: none;
    background: #fff;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 95%;
    background-position-y: 2rem;
    border-radius: 5px;
    font-size: 1.8rem;
    cursor: pointer; }
    @media only screen and (max-width: 37.5em) {
      .createjob__select {
        background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='16' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>"); } }
    .createjob__select:focus {
      border: 1px solid blue;
      border-radius: 5px; }
    @media only screen and (max-width: 37.5em) {
      .createjob__select {
        width: 70%; } }
  .createjob__select * {
    font-size: 1.8rem; }
    @media only screen and (max-width: 37.5em) {
      .createjob__select * {
        font-size: 1.4rem;
        width: 30%; } }
  .createjob__option {
    padding: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .createjob__option {
        padding: 0.2rem; } }
  .createjob__textbox {
    width: 40%;
    height: 14rem;
    resize: none;
    padding: 2rem;
    outline: 0;
    font-size: 1.5rem; }
    @media only screen and (max-width: 37.5em) {
      .createjob__textbox {
        width: 100%;
        height: 12rem; } }
  .createjob__submit {
    background-color: #1669f2;
    color: #fff;
    width: 20rem;
    padding: 1.5rem 0.5rem;
    cursor: pointer;
    border-radius: 5px;
    font-size: 1.5rem;
    margin: 5rem auto;
    outline: 0;
    border: none; }
    .createjob__submit:hover {
      background-color: #0a66c2;
      font-weight: bolder; }
    @media only screen and (max-width: 37.5em) {
      .createjob__submit {
        margin-left: 35%; } }

.hero {
  padding-top: 0;
  margin-top: 0rem;
  height: 60rem;
  width: 100%;
  overflow: hidden; }
  .hero__image {
    background: url("../../../public/banner.webp");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .hero__image {
        background-size: contain;
        margin-top: -125rem;
        height: 230%; } }
  @media only screen and (max-width: 56.25em) {
    .hero {
      height: 70rem; } }

.login {
  width: 40rem;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 15rem auto;
  height: 52rem;
  margin-bottom: 0rem;
  font-family: "Ubuntu", sans-serif; }
  @media only screen and (max-width: 75em) {
    .login {
      height: 55rem; } }
  @media only screen and (max-width: 56.25em) {
    .login {
      height: 58rem; } }
  @media only screen and (max-width: 37.5em) {
    .login {
      margin: 18rem auto;
      height: 64rem; } }
  .login__googlebutton {
    width: 20.4rem;
    height: 4.2rem;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: -1rem;
    margin-left: 15%; }
    @media only screen and (max-width: 37.5em) {
      .login__googlebutton {
        height: 5rem;
        width: 22rem; } }
  .login__ortext {
    font-size: 1.5rem;
    margin-bottom: 1.7rem;
    transform: translateX(-0.3rem); }
    .login__ortext::before, .login__ortext::after {
      content: "";
      display: inline-block;
      height: 0.1rem;
      width: 8rem;
      transform: translateY(-0.25rem);
      background-color: rgba(0, 0, 0, 0.6); }
    .login__ortext::before {
      margin-right: 1rem; }
    .login__ortext::after {
      margin-left: 1rem; }
  .login__giconwrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 4rem;
    height: 4rem;
    border-radius: 2px;
    background-color: #fff; }
    @media only screen and (max-width: 37.5em) {
      .login__giconwrapper {
        margin-top: 0rem;
        margin-left: 0rem;
        height: 5rem;
        width: 5rem; } }
  .login__gicon {
    position: absolute;
    margin-top: 1.1rem;
    margin-left: 1rem;
    width: 1.8rem;
    height: 1.8rem; }
    @media only screen and (max-width: 37.5em) {
      .login__gicon {
        margin-top: 1.5rem;
        margin-left: 1.6rem; } }
  .login__btntext {
    float: right;
    margin: 1.1rem 1.1rem 0 0;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    font-family: "Roboto"; }
    @media only screen and (max-width: 37.5em) {
      .login__btntext {
        font-size: 1.8rem;
        transform: translateX(3.5%); } }
    .login__btntext:hover {
      box-shadow: 0 0 6px #4285f4; }
    .login__btntext:active {
      background: #1669f2; }
  .login__heading {
    font-size: 2.5rem;
    margin-bottom: 3rem; }
  .login__textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem; }
  .login__resetpassword {
    color: #0a66c2;
    font-size: 1.7rem; }
    .login__resetpassword:link, .login__resetpassword:visited {
      text-decoration: none;
      color: #0a66c2;
      font-weight: 500; }
    .login__resetpassword:hover {
      font-weight: 700; }
  .login__newuser {
    text-align: center;
    font-family: "Ubuntu", sans-serif; }
    @media only screen and (max-width: 23em) {
      .login__newuser {
        top: 92%; } }
    @media only screen and (max-width: 25em) {
      .login__newuser {
        top: 92%; } }
    .login__newuser__text {
      font-size: 2rem; }
    .login__newuser__link {
      color: #0a66c2;
      font-size: 2rem; }
      .login__newuser__link:link, .login__newuser__link:visited {
        color: #0a66c2;
        font-size: 2rem;
        text-decoration: none; }
      .login__newuser__link:hover {
        font-weight: 600;
        font-size: 2rem; }
  .login__user__text {
    font-size: 2rem; }
  .login__user__link {
    color: #0a66c2;
    font-size: 2rem; }
    .login__user__link:link, .login__user__link:visited {
      font-size: 2rem;
      color: #0a66c2;
      text-decoration: none; }
    .login__user__link:hover {
      font-weight: 600;
      font-size: 2rem; }

.activeuser {
  display: flex;
  justify-content: center;
  margin-top: 15rem; }
  .activeuser__logo {
    font-size: 4rem;
    color: #001730;
    cursor: pointer; }
    .activeuser__logo--green {
      color: #4ad7d1;
      font-weight: 700; }

.signup {
  width: 40rem;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin: 15rem auto;
  height: 49rem;
  padding-top: 3rem;
  font-family: "Ubuntu", sans-serif; }
  @media only screen and (max-width: 75em) {
    .signup {
      height: 51rem; } }
  @media only screen and (max-width: 56.25em) {
    .signup {
      height: 55rem; } }
  .signup__heading {
    font-size: 2.5rem;
    margin-bottom: 3rem; }
  .signup__textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
    font-weight: normal; }
  .signup__label {
    font-size: 1.5rem; }
  .signup__user__text {
    font-size: 2rem; }
  .signup__user__link {
    color: #0a66c2;
    font-size: 2rem; }
    .signup__user__link:link, .signup__user__link:visited {
      color: #0a66c2;
      font-size: 2rem;
      text-decoration: none; }
    .signup__user__link:hover {
      font-weight: 600;
      font-size: 2rem; }
