@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:500");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (max-width: 37.5em) {
    html {
      font-size: 40%; } }

body {
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-large {
  margin-bottom: 8rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-bottom-small {
  margin-bottom: 2.5rem !important; }

.u-margin-top-large {
  margin-top: 15rem !important; }

.u-margin-top-medium {
  margin-top: 5rem !important; }

.u-margin-top-small {
  margin-top: 2rem !important; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 56.25em) {
    .row {
      max-width: 50rem;
      padding: 0 2rem; } }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
      @media only screen and (max-width: 56.25em) {
        .row [class^="col-"]:not(:last-child) {
          margin-right: 0;
          margin-bottom: 6rem; } }
    @media only screen and (max-width: 56.25em) {
      .row [class^="col-"] {
        width: 100% !important; } }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *6rem) / 3); }
  .row .col-1-of-4 {
    width: calc((100% - 3 *6rem) / 4); }
  .row .col-2-of-3 {
    width: calc( 2 * ((100% - 2 *6rem) / 3) + 6rem); }
  .row .col-2-of-4 {
    width: calc( 2 * ((100% - 3 *6rem) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc( 3 * ((100% - 3 *6rem) / 4) + 2 *6rem); }

.navbar {
  width: 100%;
  background-color: #fff;
  height: 7.5rem;
  padding: 1rem 20rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999; }
  .navbar__links {
    float: right;
    margin-right: 5rem;
    display: flex;
    flex-direction: row; }
  .navbar__linktext {
    padding: 0.1rem 0.8rem;
    font-size: 1.6rem; }
    .navbar__linktext:link, .navbar__linktext:visited {
      color: #fff;
      text-decoration: none; }

.navigation {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: #001730;
  height: 11rem;
  padding: 4rem 8rem;
  z-index: 1000;
  font-family: "Ubuntu", sans-serif; }
  .navigation__logo {
    float: left;
    position: absolute;
    left: 15rem;
    top: 2.5rem; }
    .navigation__logo--text {
      font-size: 4rem;
      color: #fff;
      cursor: pointer; }
    .navigation__logo--green {
      color: #4ad7d1;
      font-weight: 700; }
    @media only screen and (max-width: 75em) {
      .navigation__logo {
        left: 4rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__logo {
        left: 2rem;
        font-size: 3rem; } }
  .navigation__list {
    float: right;
    position: absolute;
    right: 40rem;
    display: flex;
    margin-top: 0.5rem;
    color: #fff;
    list-style-type: none; }
    @media only screen and (max-width: 75em) {
      .navigation__list {
        right: 30rem; } }
    @media only screen and (max-width: 56.25em) {
      .navigation__list {
        display: none; } }
  .navigation__listitem {
    font-size: 2rem;
    display: flex;
    font-weight: 400;
    margin-right: 6rem; }
    .navigation__listitem:link, .navigation__listitem:visited {
      color: #fff;
      text-decoration: none; }
    .navigation__listitem:hover {
      color: #4ad7d1;
      font-weight: 600; }
  .navigation__link {
    float: right;
    margin-right: 2rem;
    margin-top: 0.5rem; }
    @media only screen and (max-width: 75em) {
      .navigation__link {
        margin-right: -1rem; } }
    @media only screen and (max-width: 56.25em) {
      .navigation__link {
        margin-right: 2rem; } }
    @media only screen and (max-width: 37.5em) {
      .navigation__link {
        margin-top: 0.3rem; } }
  .navigation__button {
    outline: none;
    border-radius: 10rem;
    padding: 1.5rem 1.8rem;
    border: 2px solid #4ad7d1;
    font-size: 2rem;
    color: #fff;
    cursor: pointer; }
    .navigation__button:link, .navigation__button:visited {
      text-decoration: none;
      color: #fff; }
    .navigation__button:active {
      color: #fff; }
    .navigation__button:hover {
      background: #4ad7d1;
      font-weight: 600; }
  .navigation__nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    opacity: 0;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.6, 0.32, 1.6); }
  .navigation__list1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%);
    text-align: center;
    list-style: none;
    width: 100%; }
  .navigation__item {
    display: block;
    padding-top: 4rem; }
  .navigation__link1:link, .navigation__link1:visited {
    text-decoration: none;
    color: #fff;
    padding: 1rem 2rem;
    display: inline-block;
    transition: all 0.2s;
    font-size: 5rem; }
  .navigation__link1:hover, .navigation__link1:active {
    font-weight: bolder;
    color: #4ad7d1; }
  .navigation__checkbox {
    display: none; }
  .navigation__button1 {
    text-align: center;
    background-color: transparent;
    z-index: 2000;
    cursor: pointer;
    position: fixed;
    top: 2.497rem;
    right: 2.4rem;
    display: none; }
    @media only screen and (max-width: 56.25em) {
      .navigation__button1 {
        display: inline-block; } }
  .navigation__background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    z-index: 1500;
    position: fixed;
    top: 3.5rem;
    right: 2rem;
    background: #001730;
    transition: all 1s cubic-bezier(0.83, 0, 0.17, 1); }
  .navigation__checkbox:checked ~ .navigation__background {
    transform: scale(80); }
  .navigation__checkbox:checked ~ .navigation__nav {
    opacity: 1;
    width: 100%;
    display: block; }
  .navigation__icon {
    position: relative;
    margin-top: 3.5rem;
    background-color: #4ad7d1; }
    .navigation__icon, .navigation__icon::before, .navigation__icon::after {
      width: 3rem;
      height: 0.2rem;
      display: inline-block;
      background-color: #4ad7d1; }
    .navigation__icon::before, .navigation__icon::after {
      position: absolute;
      left: 0;
      content: ""; }
    .navigation__icon::before {
      top: -0.8rem;
      transition: 0.2s; }
      @media only screen and (max-width: 37.5em) {
        .navigation__icon::before {
          height: 0.3rem; } }
    .navigation__icon::after {
      top: 0.8rem;
      transition: 0.2s; }
  .navigation__checkbox:checked + .navigation__button1 .navigation__icon {
    background-color: transparent; }
  .navigation__checkbox:checked + .navigation__button1 .navigation__icon::before {
    top: 0;
    transform: rotate(135deg); }
  .navigation__checkbox:checked + .navigation__button1 .navigation__icon::after {
    top: 0;
    transform: rotate(-135deg); }
  .navigation__label1 {
    margin-right: 5rem;
    display: none; }

#navi1-toggle {
  display: inline-block; }

.hero {
  padding-top: 0;
  margin-top: 0rem;
  height: 60rem;
  width: 100%;
  overflow: hidden; }
  .hero__image {
    background: url("../../../public/banner.webp");
    background-size: cover;
    background-position: top;
    width: 100%;
    height: 100%; }
    @media only screen and (max-width: 56.25em) {
      .hero__image {
        background-size: contain;
        margin-top: -125rem;
        height: 230%; } }
  @media only screen and (max-width: 56.25em) {
    .hero {
      height: 70rem; } }

.login {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  top: 53%;
  height: 48rem;
  font-family: "Ubuntu", sans-serif; }
  .login::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .login {
      top: 25%; } }
  @media only screen and (max-width: 37.5em) {
    .login {
      top: 45%; } }
  @media only screen and (max-width: 23em) {
    .login {
      top: 48%; } }
  @media only screen and (max-width: 25em) {
    .login {
      top: 48%; } }
  @media only screen and (max-width: 75em) {
    .login {
      height: 42rem; } }
  @media only screen and (max-width: 56.25em) {
    .login {
      height: 48rem; } }
  @media only screen and (max-width: 37.5em) {
    .login {
      height: 58rem; } }
  .login__googlebutton {
    width: 20.4rem;
    height: 4.2rem;
    background-color: #4285f4;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25);
    cursor: pointer;
    margin-top: -1rem;
    margin-left: 15%; }
  .login__ortext {
    font-size: 1.5rem;
    margin-bottom: 1.7rem;
    transform: translateX(-0.3rem); }
    .login__ortext::before, .login__ortext::after {
      content: "";
      display: inline-block;
      height: 0.1rem;
      width: 8rem;
      transform: translateY(-0.25rem);
      background-color: rgba(0, 0, 0, 0.6); }
    .login__ortext::before {
      margin-right: 1rem; }
    .login__ortext::after {
      margin-left: 1rem; }
  .login__giconwrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 4rem;
    height: 4rem;
    border-radius: 2px;
    background-color: #fff; }
  .login__gicon {
    position: absolute;
    margin-top: 1.1rem;
    margin-left: 1rem;
    width: 1.8rem;
    height: 1.8rem; }
  .login__btntext {
    float: right;
    margin: 1.1rem 1.1rem 0 0;
    color: #fff;
    font-size: 1.6rem;
    letter-spacing: 0.2px;
    font-family: "Roboto"; }
    .login__btntext:hover {
      box-shadow: 0 0 6px #4285f4; }
    .login__btntext:active {
      background: #1669f2; }
  .login__heading {
    font-size: 2.5rem;
    margin-bottom: 3rem; }
  .login__textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem; }
  .login__resetpassword {
    color: #0a66c2;
    font-size: 1.7rem; }
    .login__resetpassword:link, .login__resetpassword:visited {
      text-decoration: none;
      color: #0a66c2;
      font-weight: 500; }
    .login__resetpassword:hover {
      font-weight: 700; }
  .login__newuser {
    position: relative;
    bottom: -63rem;
    text-align: center;
    font-family: "Ubuntu", sans-serif; }
    @media only screen and (max-width: 75em) {
      .login__newuser {
        position: absolute;
        top: 55%;
        left: 50%;
        transform: translate(-50%, -15%); } }
    @media only screen and (max-width: 56.25em) {
      .login__newuser {
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -10%); } }
    @media only screen and (max-width: 23em) {
      .login__newuser {
        top: 92%; } }
    @media only screen and (max-width: 25em) {
      .login__newuser {
        top: 92%; } }
    .login__newuser__text {
      font-size: 2rem; }
    .login__newuser__link {
      color: #0a66c2;
      font-size: 2rem; }
      .login__newuser__link:link, .login__newuser__link:visited {
        color: #0a66c2;
        font-size: 2rem;
        text-decoration: none; }
      .login__newuser__link:hover {
        font-weight: 600;
        font-size: 2rem; }
  .login__user__text {
    font-size: 2rem; }
  .login__user__link {
    color: #0a66c2;
    font-size: 2rem; }
    .login__user__link:link, .login__user__link:visited {
      font-size: 2rem;
      color: #0a66c2;
      text-decoration: none; }
    .login__user__link:hover {
      font-weight: 600;
      font-size: 2rem; }

.activeuser {
  display: flex;
  justify-content: center;
  margin-top: 15rem; }
  .activeuser__logo {
    font-size: 4rem;
    color: #001730;
    cursor: pointer; }
    .activeuser__logo--green {
      color: #4ad7d1;
      font-weight: 700; }

.signup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 40rem;
  padding: 5rem;
  border-radius: 5px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  top: 55%;
  height: 49rem;
  padding-top: 3rem;
  font-family: "Ubuntu", sans-serif; }
  .signup::after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 75em) {
    .signup {
      top: 25%; } }
  @media only screen and (max-width: 37.5em) {
    .signup {
      top: 45%; } }
  @media only screen and (max-width: 23em) {
    .signup {
      top: 48%; } }
  @media only screen and (max-width: 25em) {
    .signup {
      top: 48%; } }
  @media only screen and (max-width: 75em) {
    .signup {
      height: 51rem; } }
  @media only screen and (max-width: 56.25em) {
    .signup {
      top: 45% !important;
      height: 60rem; } }
  @media only screen and (max-width: 23em) {
    .signup {
      top: 50% !important; } }
  @media only screen and (max-width: 25em) {
    .signup {
      top: 50% !important; } }
  .signup__heading {
    font-size: 2.5rem;
    margin-bottom: 3rem; }
  .signup__textbox {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem; }
  .signup__label {
    font-size: 1.5rem; }
  .signup__user__text {
    font-size: 2rem; }
  .signup__user__link {
    color: #0a66c2;
    font-size: 2rem; }
    .signup__user__link:link, .signup__user__link:visited {
      color: #0a66c2;
      font-size: 2rem;
      text-decoration: none; }
    .signup__user__link:hover {
      font-weight: 600;
      font-size: 2rem; }
